
main {
    width:100%;
    padding-top:0.6em;
    padding:2em;
    align-content: center;
    color: #D6D6D6;
}

h1 {
  color:#D6D6D6;
}

.btnlist > li {
  color: #D6D6D6;
}

.btnlist > li {
    padding:.3em;
}

.btnlist > li > a {
  font: bold 17px Ubuntu;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
